* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.plan-card {
  background: #fff;
  border-radius: 0.5rem;
  width: 24rem;
  transition: all 0.2s;
}

.plan-card:hover {
  transform: translateY(-20px);
}

.plan-text {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
  opacity: 0.3;
}

.subscription {
  text-align: center;
  margin-bottom: 1.2rem;
}

.price {
  font-weight: bold;
  font-size: 3rem;
}

.line {
  width: auto;
  margin: 0 1rem;
}

li {
  margin: 1.5rem 1rem;
  list-style: none;
}

.plan-features-1 li:before {
  content: '✓';
  margin-right: 0.5rem;
  font-weight: bolder;
}

.plan-features-1 li:nth-child(n+5):before {
  content : '✗';
}

.plan-features-1 li:nth-child(n+5) {
  opacity: 0.4;
}

.plan-features-2 li:before {
  content: '✓';
  margin-right: 0.5rem;
  font-weight: bolder;
}

.plan-features-2 li:last-child:before {
  content : '✗';
}

.plan-features-2 li:last-child {
  opacity: 0.4;
}

.plan-features-3 li:before {
  content: '✓';
  margin-right: 0.5rem;
  font-weight: bolder;
}


.btn {
  display: flex;
  justify-content: center;
  margin-left: 1.7rem;
  width : 80%;
  padding : 0.75rem 7rem;
  font-size: 1.25rem;
  color: #8645FF;
  border : none;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #569AFE;
  margin-bottom: 1rem;
}

.btn:hover {
  cursor: pointer;
  background-color: #0468E8;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bold {
  font-weight: bold;
}


@media(max-width: 1250px) {
  .container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 320vh;
    font-size: 1.2rem;
  }

  .plan-card {
    border-radius: 0.5rem;
    width: 26em;
  }
}

@media(max-width: 620px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 300vh;
    font-size: 0.7rem;
  }
  .plan-card {
    border-radius: 0.5rem;
  }
}

@media(max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 270vh;
    font-size: 0.6em;
  }
  .plan-card {
    border-radius: 0.5rem;
  }
}

@media(max-width: 450px) {
  .btn {
    margin-left: 0.8rem;
  }
}
